/* app global css */

header .q-icon {
  font-size:2rem;
  padding:1rem;
  cursor:pointer;
}

header button {
  position:relative;
  left:12px;
}

header .q-toolbar__title {
  margin-left:1rem;
  position:relative;
  right:12px;
}

#q-app {
  overflow-x: hidden;
}

.cartItem {
  transition: all .2s ease-in-out;
  transform:scale(1,1);
  opacity:1;
  transition-delay:all 0s;
}

.cartItem.scaleOut, .cartItem.scaleIn {
  transform:scale(0,0);
  height:0;
  opacity:0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

.store {
  min-height:66vh;
}

.container {
  max-width:1400px;
  margin: 0 auto;
}

body {
  background-color:#fafafa;
  padding-bottom:6rem;
}

.store .products {
  display:flex;
  justify-content: center;
  flex-grow:1;
  flex-shrink:0;
  flex-wrap:wrap;
}

.store .product .quantifier {
  color:#333333!important;
  background:#fafafa!important;
}

.store .product .quantifier:before {
  box-shadow:none!important;
}

.store .product {
  padding:1rem 0.5rem;
  background:none;
  margin:0 32px;
  width:250px;
}

.product .q-img {
  max-height:300px;
}

.product .quantity, .product .q-field, .cartProduct .q-field {
  padding:0;
}

.product .q-field__bottom--animated, .cartProduct .q-field__bottom--animated {display:none!important;}

header {
  border-bottom:0;
  padding-top:2rem;
  padding-bottom:2rem;
  transition: all .1s;
  background:rgba(255,255,255,0)!important;
}

header .q-btn, header a {
  transition: all .1s;
  color:#fafafa!important;
}

.q-page-container {
  transition:all .1s;
  top:0px!important;
}

.scrolled .q-page-container {
  top:0px!important;
}

.scrolled header {
  border-bottom:1px solid rgba(0,0,0,0.15);
  background:#fafafa!important;
  padding-top:0;
  padding-bottom:0;
}

.scrolled header .q-btn, .scrolled header a {
  color:#333333!important;
}

@media (max-width:600px) {
  header .q-btn {
    transition: all .1s;
    color:#333333!important;
  }
  .product .q-img {
    max-height:200px;
  }
  .product .q-card__section .q-input {
    padding:0;
  }
  .t-menu {
    background-color:#fafafa;
    width:100vw;
    display:flex;
    position:fixed;
    bottom:0;
    left:0;
    border-top:1px solid rgba(0,0,0,0.15);
  }
  .t-menu .menuItem {
    text-align:center!important;
    padding:0!important;
    width:33.33vw;
    flex:none!important;
  }
  .t-menu .menuItem .q-icon {
    width:100%;
    padding-top:8px;
    padding-bottom:4px;
  }
}

.store .product > div {
  background-color:#fafafa;
}

.productcard div {
  color:#333333;
}
.productcard .q-btn-item::hover {
  background:rgba(0,0,0,0.01)!important;
}
.productcard {
  background-size:cover;
  background-position:center center;
}

.productcard.small > div {
  color:#fafafa;
}

.productcard .addButton {
  transition: all .1s;
}

.cartItem {
  background:none;
}

.product input {
  text-align:center;
  padding:0!important;
}

.product input:before {
  border:none!important;
}

.store .product .text-h6 {
  line-height:1.4rem;
  min-height:32px;
}


.store .product .text-subtitle1 {
  color:#333333;
}

a, .link {
  text-decoration: none;
  color:#333333;
}

header .q-toolbar__title {
  font-weight:800;
}

.underHeader {
  padding-top:100px!important;
}

.q-toolbar {
  max-width: 1200px;
  margin: 0 auto;
}


.menuItem.last {
  margin-right:-0.8rem!important;
}

aside, .q-drawer {
  top:0!important;
}

aside .q-item__label--header {
  color:#fafafa!important;
  cursor:pointer;
}